body
{
    margin: 0;
    color: white;
    line-height: 1.5;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans',
    Arial, sans-serif;
    background-color: black;
    background-image: url("../images/backgroundAx1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    place-content: center;
    text-shadow: #000000 4px 0 0;
}

header
{
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: #530000;
    border-bottom: 4px solid crimson;
    color: white;
    top: 0;
    background-image: linear-gradient(to left, #000, #7a0b0b);
    text-shadow: none;
}
  
h1
{
    line-height: 1.25;
    text-align: center;
    margin: 1rem;
}

section {
    line-height: 1.25;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 97vw;
    align-items: center;
    justify-content: space-around;
}

section h2{
    color: crimson;
    width: 100vw;
}

section p{
    width:60vw;
}

.outSect{
    margin-left: 25px;
}

.imgShadow{
    border-radius: 10px;
    filter: drop-shadow(10px 10px 4px black);
}

.resized
{
    width: 500px;
}

footer {
    text-align: center;
    padding: 25px;
    border-top: 4px solid crimson;
    background-image: linear-gradient(to left, #000, #7a0b0b);
    text-shadow: none;
}

.dropdown
{
    position: relative;
    margin-left: 2rem;
    display: inline-block;
}
  
.dropdown-content
{
    font-size: large;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #000000;
    width: 200%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content
{
    display: block;
}

.linkBlue
{
    color: blue;
}

.linkRed
{
    color: red;
}

.floatRight
{
    float: right;
    margin-right: 25px;
}

#underline
{
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.bigMenu
{
    text-align: center;
    padding: 2rem;
    line-height: 5rem;
}
