body
{
    margin: 0;
    color: white;
    line-height: 1.5;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("../Illuminati.png");
    background-size: 100%;
    background-image: fixed;
    place-content: center;
}

header
{
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: #530000;
    border-bottom: 4px solid crimson;
    color: white;
    text-align: center;
    position:sticky;
    top:0;
}
  
h1 , h2
{
    margin: 0;
    line-height: 1.25;
}

section {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
    align-items: center;
    justify-content: space-around;
}

section h2{
    color: crimson;
    width: 100vw;
}
section p{
    width:60vw;
}
.outSect{
    margin-left: 25px;
}

img{
    border-radius: 10px;
    filter: drop-shadow(10px 10px 4px black);
}

.resized
{
    width: 500px;
}

footer
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: double;
    border-color: white;
    background: black;
}
