body
{
    background-image: url("../images/newsletterbg.png");
    background-size: 100%;
    backdrop-filter: blur(5px);
    background-image: fixed;
}

h1 {
    color: rgb(39, 58, 228);
    font-family: "Apple Chancery", sans-serif;
    text-align: center;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100%;
    text-align: center;

  }

  p {
    font-size: 30px;
    }
